APP_NAME=ValueInvest MVP API
APP_ENV=local
APP_DEBUG=true
APP_HOST=0.0.0.0
APP_PORT=8000
API_V1_PREFIX=/api/v1

DB_HOST=localhost
DB_PORT=5432
DB_NAME=valueinvest
DB_USER=postgres
DB_PASSWORD=postgres
DB_ECHO=false

CORS_ALLOW_ORIGINS=*
CORS_ALLOW_CREDENTIALS=true
CORS_ALLOW_METHODS=*
CORS_ALLOW_HEADERS=*
